<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>My Courses</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:each="course:${student.getCourses()}">-->
<!--    <span th:text="${course.getCourseName()}"></span>-->
<!--    <br>-->
<!--    <span th:text="${course.getInstructor().getName()}"></span>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->









<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\file\student\css\course.css">
    <title>Course</title>
</head>
<body>
<!--nav bar-->
<div th:replace="Student/base :: navbar"></div>
<!--end nav bar-->
<div class="img-container">
    <img src="\file\student\img\course.jpg">
</div>
<table>
    <thead>
    <th>Courses</th>
    <th>Instructor_Name</th>
    </thead>
    <tbody>
    <div th:each="course:${student.getCourses()}">
    <tr>
        <td th:text="${course.getCourseName()}"> pl2</td>
        <td th:text="${course.getInstructor().getName()}"></td>
    </tr>

    </div>
    </tbody>
</table>
</body>
</html>