<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div th:text="${question.getQuestionHead()}"></div>
    <br>
    <form th:action="@{/student/save-exam/__${examId}__/__${question.getId()+1}__}" th:object="${studentAnswer}" method="post">
        <div>

            <div th:if="${question.getType()==true}">

              true  <input class="form-check-input" type="radio" name="gridRadios"   th:field="*{BooleanAnswer}" th:value="true">
              fasle  <input class="form-check-input" type="radio" name="gridRadios"   th:field="*{BooleanAnswer}" th:value="false">
            </div>





            <div th:unless="${question.getType()==true}">

                <label class="form-check-label" >
                    <div th:text="${question.getOptionA()}"></div>
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios"   th:field="*{stringAnswer}" th:value="A">
                </div>

                <div class="form-check">
                    <label class="form-check-label" >
                        <div th:text="${question.getOptionB()}"></div>
                    </label>
                    <input class="form-check-input" type="radio" name="gridRadios"   th:field="*{stringAnswer}" th:value="B">
                </div>

                <div class="form-check">
                    <label class="form-check-label" >
                        <div th:text="${question.getOptionC()}"></div>
                    </label>
                    <input class="form-check-input" type="radio" name="gridRadios"   th:field="*{stringAnswer}" th:value="C">
                </div>

                <div class="form-check">
                    <label class="form-check-label" >
                        <div th:text="${question.getOptionD()}"></div>
                    </label>
                    <input class="form-check-input" type="radio" name="gridRadios"   th:field="*{stringAnswer}" th:value="D">
                </div>

            </div>
        </div>


        <input type="submit">
    </form>




</body>


</html>