<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fired</title>
    <link rel="stylesheet" type="text/css" href="\file\student\css/fired.css">
</head>
<body>
<div class="background-img">
    <img class="background-img" src="\file\student\img\4006610.jpg">
</div>
<h1>OOPs ! You Are Fired out of Exam Because of Cheating</h1>

</body>
</html>