<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fragment</title>
</head>
<body>

<div th:fragment="header">


    <link rel="stylesheet" type="text/css" href="\file\admin\bootstrap-3.4.1-dist\css\bootstrap.css">
    <link rel="stylesheet" href="\file\admin\fontawesome-free\css\all.min.css">


</div>

<div th:fragment="sliderbar">

    <div class="side-bar">

        <div class="close-btn">
            <h2 class="header">Menu</h2>
            <i class="fas fa-times-circle"></i>
        </div>
        <div class="menu">
            <div class="item"><a th:href="@{'/admin/index'}">Profile</a></div>
            <div class="item">
                <a class="sub-btnFor-addmember">Add Member<i class="fas fa-chevron-right dropdown"></i></a>
                <div class="sub-menuFor-addMember">
                    <div class="item"><a th:href="@{'/admin/CreateStudent'}">Add Student</a></div>
                    <div class="item"><a th:href="@{'/admin/CreateInstructor/'}">Add Instructor</a></div>
                </div>
            </div>
            <div class="item">
                <a class="sub-btn">Course<i class="fas fa-chevron-right dropdown"></i></a>
                <div class="sub-menu">
                    <div class="item"><a href="#popup1">Add Course</a></div>
                    <div class="item"><a th:href="@{'/admin/show-course'}">show Courses</a></div>
<!--                    <div class="item"><a href="Delete-Course.html">Delete Course</a></div>-->
                </div>
            </div>
            <div class="item">
                <a class="sub-btnFor-member">Members<i class="fas fa-chevron-right dropdown"></i></a>
                <div class="sub-menuFor-Member">
                    <div class="item"><a th:href="@{'/admin/show-student'}">Show Students</a></div>
                    <div class="item"><a th:href="@{'/admin/show-instructor'}">Show Instructor</a></div>
                </div>
            </div>
<!--            <div class="item"><a href="#">Approve Exam</a></div>-->
            <div class="item"><a href="#">Problem</a></div>
        </div>

    </div>
</div>

<div  th:fragment="navbar">
    <div class="navbar" id="contant">
        <form th:action="@{/logout}" method="post">
            <!--forms-->
            <div class="forms">
                <div class="menu-icons">
                    <i class="fas fa-bars"></i>
                </div>
                <!--<input type="search" class="search_textfield" placeholder="Search">-->
                <input type="submit" value="Logout" id="Logout">
            </div>
        </form>
    </div>
</div>



<div th:fragment="POPUP">
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Add Course</h2>
            <a class="close" href="#">&times;</a>

            <div class="info-Containerx">
                <form th:action="@{/admin/save-course}" th:object="${course}">
                    <div>

                        <!--                    <input id="coursename" type="text"  placeholder="CourseName" required>-->
                        <input id="coursename" type="text" th:field="*{CourseName}"  placeholder="CourseName" required/>
                    </div>
                    <input type="submit" value="Add">

                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer" >
    <script type="text/javascript" src="/file/admin/Jquery\jquery-3.6.0.min.js"></script>
    <script src="/file/admin/Jquery\jquery1.js"></script>
    <script type="text/javascript" src="/file/admin/bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>







    <script src="Jquery\ADDCourse.js"></script>
    <script src="Jquery/Alelt.js"></script>
</div>

</body>
</html>