<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action="@{/admin/save-course}" th:object="${course}">
    <table border="1" width="90%" align="center" cellpadding="5">
        <tr>
            <td class="fheading" colspan="3">Enquiry Source</td>
        </tr>
        <tr>
            <td align="right">Enter Source
            </td>
            <td>
                name  <input type="text" th:field="*{CourseName}"/>

<!--                <select th:field="*{instructor}">-->
<!--                    <th:block th:each="i : ${instructors}">-->
<!--                        <option  th:value="${i.id}" th:text="${i.name}">-->
<!--                    </th:block>-->

<!--                    </option>-->
<!--                </select>-->
                      <input type="hidden" th:field="*{id}" />
            </td>
            <td width="40%">
                <button >Save</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>






