
<!DOCTYPE html>
<html>
<head>
    <title>Dashbord</title>
    <link rel="stylesheet" type="text/css" href="\file\admin\bootstrap-3.4.1-dist\css\bootstrap.css">
    <link rel="stylesheet" href="\file\admin\fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="\file\admin\CSS/Dash.css">
    <link rel="stylesheet" href="\file\admin\fontawesome-free\css\all.min.css">

</head>
<body>

<!--sliderbar-->
<div th:replace="Admin/base :: sliderbar"></div>
<!--end sliderbar-->
<!--nav bar-->
<div th:replace="Admin/base :: navbar"></div>
<!--end nav bar-->

<div class="quary">
    <div class="info-top">
        <ul class="inlinee">
            <li class="Stu"><i class="fas fa-user"></i></li>
            <!--<p class="num"><b>123</b></p>-->
            <input type="hidden" class="num" id="STUD" th:value="${studentNum}">
            <p class="s"><b th:text="${z}"> </b> Student</p>
            <li class="Cour"><i class="fas fa-book"></i></li>
            <!--<p class="numC"><b>32</b></p>-->
            <input type="hidden" class="numC" id="Cour" th:value="${courseNum}">
            <p class="c"><b th:text="${courseNum}"></b> Course</p>
            <li class="Ins"><i class="fas fa-chalkboard-teacher"></i></li>
            <!-- <p class="numI"><b>19</b></p>-->
            <input type="hidden" class="numI" id="Inss" th:value="${instructorNum}">
            <p class="i"><b th:text="${instructorNum}"></b> Instructor</p>
            <li class="ex"><i class="fas fa-newspaper"></i></li>
            <!--<p class="numE"><b>31</b></p>-->
            <input type="hidden" class="numE" id="Exx" th:value="${examNum}">
            <p class="e"><b th:text="${examNum}"> </b> Exams</p>


        </ul>

    </div>
</div>
<div class="the-center-div">
    <!--img div-->
    <div class="img-container">
        <img src="\file\admin\Img\Dashbord.jpeg" class="Add_img">
    </div>
    <!--Div near Img-->
    <div class="info-Container">
        <div class="chart-wrapper">
            <canvas id="myChart"></canvas>
            <!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

            <script>
                const st = document.getElementById('STUD');
                const cour = document.getElementById('Cour');
                const ins = document.getElementById('Inss');
                const exa = document.getElementById('Exx');
                let items = [st.value, cour.value, ins.value, exa.value];

                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Student', 'Course', 'Instrucor', 'Exams'],
                        datasets: [{
                            label: '# of Votes',
                            data: items,
                            backgroundColor: ['#026FE5', '#19839A', '#BB7C45', '#32911f'],

                            borderWidth: 0.1
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: true,
                            position: 'right',
                        },

                    }
                });
            </script>
        </div>
    </div>

</div>
</div>


<!--POPUP-->
<div id="popup1" class="overlay">
    <div class="popup">
        <h2>Add Course</h2>
        <a class="close" href="#">&times;</a>

        <div class="info-Containerx">
            <form th:action="@{/admin/save-course}" th:object="${course}">
                <div>

                    <input id="coursename" type="text"  th:field="*{CourseName}" placeholder="CourseName" required>
                </div>
                <input type="submit" value="Add">

            </form>
        </div>
    </div>
</div>


    <script type="text/javascript" src="\file\admin\Jquery\jquery-3.6.0.min.js"></script>
    <script src="\file\admin\Jquery\Dash.js"></script>
    <!--<script src="Jquery/Alelt.js"></script>-->
    <script type="text/javascript" src="\file\admin\bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <!--<script src="Jquery/script.js"></script>-->
</body>
</html>
