<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>the Cousres</title>
    <div th:replace="Admin/base :: header"></div>
    <link rel="stylesheet" type="text/css" href="\file\admin\CSS\Edit-Cousre-css.css">
</head>
<body>
<!--sliderbar-->
<div th:replace="Admin/base :: sliderbar"></div>
<!--end sliderbar-->

<!--nav bar-->
<!--<div th:replace="Admin/base :: navbar"></div>-->
<div class="navbar" id="contant">
    <form th:action="@{/logout}" method="post">
        <!--forms-->
        <div class="forms">
            <div class="menu-icons">
                <i class="fas fa-bars"></i>
            </div>
            <input type="search" class="search_textfield" placeholder="Search">
            <input type="submit" value="Logout" id="Logout">
        </div>
    </form>
</div>

<!--end nav bar-->


<!--center div -->
<div class="the-center-div">


  <h3 class="update"> Cousres</h3>
  <table>
    <thead>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
<!--        <th>Number of Exam</th>-->
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course,itr: ${CoursesList}">
        <td><input type="text" class="ID" name="id" th:value="${course.id}" disabled></td>
        <td><input type="text" class="Course-name"  name="Course-name"  th:value="${course.CourseName}" disabled></td>
<!--        <td><input type="text" class="Instrucor-name" name="Instrucor-name"  th:value="${course.getInstructor().getName()}" disabled></td>-->
      <td><a th:href="@{'/admin/delete-course/'+${course.id}}" class="Delete">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>

<!--POPUP-->
<div th:replace="Admin/base :: POPUP"></div>


<!--footer-->
<script type="text/javascript" src="\file\admin\Jquery\jquery-3.6.0.min.js"></script>
<script src="\file\admin\Jquery\jquery-For-Edit-Course.js"></script>
<script type="text/javascript" src="\file\admin\bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
</body>
</html>