html , body 
{
	height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}


/*nav bar */
/* Position text in the middle of the page/image */
.navbar {
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255, 0.5); /* Black w/opacity/see-through */
  color: #000;
  z-index: 2;
  margin-top:-88vh;
  margin-left: 30vw;
  width:64vw; 
  height:11vh;
  border-radius: 0.6vw;
  box-shadow: 25px 25px 60px #9C9C9C;
  position: fixed;
}
.nav li {
  display: inline-block;
  padding-left: 0.4vw;
  padding-top: 1.4vw;
}

.nav a
{
	text-decoration: none ;
	color: #000;
	font-weight:bold;
	margin-left: 3.9vw;
    font-size: 1.26vw;
}

.logout
{
  border: none;
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255, 0.5);
  margin-left: 3.5vw;
  font-weight: 700;
  font-size: 1.2vw;

}
.nav .Clicked
{
	color: #FF0909;
}
  
.nav li:hover input {
    color: #ff0000;
    cursor: pointer;
    
    }
.nav li:hover a {
    
        color: #ff0000;
         }
.img-container img
{

    width: 36vw;
    height: 76vh;
    margin-left: 57vw;
    margin-top: 17vh;
}

table
{
  position: absolute;	
  border-collapse: collapse;
  text-align:center;
  width: 40vw;
  margin-left:7vw;
  margin-top:-64vh;
  background:#D5E6FF;
  overflow: scroll;
  border-radius: 10px 10px 10px 10px;


}
tr:nth-child(even)
{
	background-color:#007CFE;
	color: rgb(0, 0, 0);
	border:none;
	font-size: 1.3vw;
	overflow-x: auto;
}

tr:nth-child(odd)
{
	color: rgb(0, 0, 0);
	border:none;
	background:#D5E6FF;
	font-size: 1.3vw;

}
td, th
{
  
  padding: 1.4vh;
  width: 40vw;
  line-height: 8vh;
  font-weight: 600;
}
th:first-child
{
  border-radius: 10px 0px 0px 0px;

}
th:last-child
{
  border-radius: 0px 10px 0px 0px;
}
tbody
{  
  width: 45vw;
  overflow: auto;
  height: 45vh;
  display: block;
  border-radius: 0px 10px 10px 10px;
}

thead 
{
  display: block;
}
th
{
  border-bottom: 0;
  color: #fff;
  font-size:1.6vw;
  padding:1.9vh; 
  background-color: #007CFE;
}