html , body 
{
	height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}

  .bg-Background {
    background-image: url("../Img/Background5.jpg");
    filter: blur(0.4vw);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/*nav bar */
/* Position text in the middle of the page/image */
.navbar {
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255, 0.5); /* Black w/opacity/see-through */
  color: #000;
  z-index: 2;
  margin-top:-96vh;
  margin-left: 30vw;
  width:64vw; 
  height:11vh;
  border-radius: 0.6vw;
  box-shadow: 25px 25px 60px #9C9C9C;
  position: fixed;
}
.nav li {
  display: inline-block;
  padding-left: 0.4vw;
  padding-top: 1.4vw;
}

.nav a
{
	text-decoration: none ;
	color: #000;
	font-weight:bold;
	margin-left: 3.9vw;
    font-size: 1.26vw;
}

.logout
{
  border: none;
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255, 0.1);
  margin-left: 3.5vw;
  font-weight: 700;
  font-size: 1.2vw;

}
.nav .Clicked
{
	color: #FF0909;
}
  
.nav li:hover input {
    color: #ff0000;
    cursor: pointer;
    
    }
.nav li:hover a {
    
        color: #ff0000;
         }

table
{
  position: absolute;	
  border-collapse: collapse;
  width: 60vw;
  margin-left:2vw;
  margin-top:-72vh;
  background-color: #97A7E2;
  overflow: scroll;
  border-radius: 10px 10px 10px 10px;

}
tr:nth-child(even)
{
	background-color:#436E8E;
	color: #000;
	border:none;
	font-size: 1.6vw;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;

}


tr:nth-child(odd)
{

	color: #000;
	border:none;
	background:#97A7E2;
	font-size: 1.6vw;
  text-align: center;
  vertical-align: middle;
}

table tbody tr td:nth-of-type(3)
{
  max-width: 24vw;
}
table thead th:nth-of-type(1)
{
  padding-left: 4vw;
}
table thead th:nth-of-type(2)
{
  padding-left: 6vw;
}
table tbody tr td:nth-of-type(2)
{
  padding-left: -4vw;
}



td
{
  
  width: 60vw;
  line-height: 8vh;
  font-weight: 600;
  padding: 1vw;

}
th{
width: 60vw;
height: 10vh;
text-align: center;
vertical-align: middle;


}
th:first-child
{
  border-radius: 10px 0px 0px 0px;

}
th:last-child
{
  border-radius: 0px 10px 0px 0px;
}
tbody
{  
  width: 60vw;
  overflow: auto;
  height: 47vh;
  display: block;
  border-radius: 0px 10px 10px 10px;
}

thead 
{
  display: block;
}
th
{ 
  text-align:center;
  border-bottom: 0;
  color: #fff;
  font-size:1.6vw;
  padding:1.9vh; 
  background-color:#436E8E;
}