body{
    background-image: url("../Img/1.jpeg");
    background-position-x: center;
    background-position-y:35%;
    background-repeat: no-repeat;
    /*background-size: cover;
    display: flex;*/
}


/*Nav bar*/

/*div for navigation bar 
.navbar
{
	background-color: #292F45;
	width: 1360px;
	height: 68px;
	opacity: .7;
	transition: 0.7s ease-out;	

}

.nav {
    background-color: #2C2C2C;
    list-style-type: none;
    margin: -8px;
    padding: 0;
    margin-top: -9px;
  }
  
  .nav li {
    display: inline-block;
    padding: 20px;
    margin-left: 4%;
    
  }

.nav a{
    text-decoration: none;
    color: #FFF;
    display: block;
	text-align: left;
    font: 15px/20px sans-serif;
    transition: all .25s ease;
   
   
}

.nav li:hover a {
	color: #89D5E8;
  
}*/

.nav .Clicked{
    color: #89D5E8;
    font: bold 15px/20px sans-serif;
}

html , body 
{
	height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}

.nav {
  background-color: #2C2C2C;
  list-style-type: none;
  padding: 0vw;
}

.nav li {
  display: inline-block;
  padding: 1.5vw;
  margin-left: 4vw;  
}

.nav a{
  text-decoration: none;
  color: #FFF;
  display: block;
  text-align: left;
  font-size: 1.2vw;
  transition: all .25s ease;
  font-weight: 500;

 
}

.nav li:hover a {
color: #89D5E8;

}

.nav .Clicked{
  color: #89D5E8;
  font-size: 1.3vw;
  font-weight: 500;
}

.logout
{
  border: none;
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: #2C2C2C;
  color: #FFF;
  margin-left: 1.3vw;
  margin-top: 1vh;
  font-size: 1.2vw;
  font-weight: 533;
  cursor: pointer;
}
.nav li:hover input {
  color: #89D5E8;
  
  }




/*div*/
.MassForm{
    position: relative;
    margin-top: 11vh;
    transform: translate(8%);
    background-color: rgba(0, 0, 0, 0.571);
    width: 84vw;
    height: 73vh;
    padding-top: 1.3vh;
}


/*Form*/
.MassForm input[type=text]{
        transform: translate(10%);
        width: 65vw;
		border-radius: 1vh;
		margin-top: 5vh;
		color: #000;
		padding: 2vh 1.9vw 1.9vh 3vw;
        border: none;
        font-size: 2.7vh;
}

textarea{
    transform: translate(10%);
        width: 65vw;
    border-radius: 1vh;
	border: none;
    padding: 3vh 1.9vw 7vh 3vw;
    font-size: 2.5vh;
    margin-top: 3.9vh;
}


.MassForm input[type="submit"]{
    transform: translate(70%);
    margin-left: 31vw;
       width: 9.7vw;
    border-radius: 1vh;
	border: none;
    padding: 2vh 1.5vw 1.9vh 1.5vw;
    font-size: 2.5vh;
    margin-top: 3.3vh;
    background-color: #2AB4D5;
    margin-bottom: 1.9vh;
}