
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Putting Exam</title>
    <link rel="stylesheet" type="text/css" href="\file\instructor\bootstrap-3.4.1-dist\css\bootstrap.css">
    <link rel="stylesheet" href="\file\instructor\fontawesome-free\css\all.min.css">
    <link rel="stylesheet" type="text/css" href="\file\instructor\CSS\question.css">
    <link rel="stylesheet" type="text/css" href="\file\instructor\CSS\question.css">
</head>
<body>
<div class="bg-Background"></div>
<div th:replace="Instructor/base :: body"></div>
<form method="post" th:action="@{/instructor/save-question}" th:Object="${question}">
    <input type="hidden" th:field="*{id}"/>
    <div class="putting-exam-form">
        <!--check box to choose the type of exam -->
        <div class="question-type">
            <div class="true-or-false-div">
                <input type="radio" class="true-or-false" name="question-type"th:field="*{type}" th:value="1">
                <label >True or False</label>
            </div>
            <div class="mcq-div">
                <input type="radio" class="mcq" name="question-type"  th:field="*{type}" th:value="0">
                <label>MCQ</label>
            </div>
            <div class="eye-div">
                <input type="checkbox" name="eye movement" id="eyecheck"  th:value="1">
                <label >Eye Movement</label>
            </div>
            <input type="number"  class="timeallowed" name="timeallowed" placeholder="Eye Movement Time Allowed" th:field="*{TimeForCheating}">
            <input type="number" class="timeofquestion" name="timeofque" placeholder="Question Time ( for ex :15 min )" th:field="*{QuestionTime}">
            <div class="qusetion-itself">
                <input type="text" class="Question" name="Question" placeholder="Question Details" th:field="*{questionHead}">
                <input type="text" class="correctanswer" name="correctanswer" placeholder="Option A" th:field="*{optionA}">
                <input type="text" class="wronganswer1" name="wronganswer1" placeholder="Option B"  th:field="*{optionB}">
                <input type="text" class="wronganswer2" name="wronganswer2" placeholder="Option C"  th:field="*{optionC}">
                <input type="text" class="wronganswer3" name="wronganswer3" placeholder="Option D"  th:field="*{optionD}">
                <select class="droplistclass" name="correctanswerdroplist" id="droplistcorrectanswer" th:field="*{correctAnswer}">
                    <optgroup placeholder="Correct Answer">
                        <option th:text="A" th:value="A"></option>
                        <option th:text="B" th:value="B"></option>
                        <option th:text="C" th:value="C"></option>
                        <option th:text="D" th:value="D"></option>
                    </optgroup>
                </select>
            </div>

            <DIV  class="Answers">
                <div class="Answers-to-true">
                    <input type="radio"    name="answer-question" th:field="*{CorrectAnswerBool}"th:value="true">
                    <label >Answer is True</label>
                </div>
                <div class="Answers-to-false">
                    <input type="radio"   name="answer-question"  th:field="*{CorrectAnswerBool}" th:value="false">
                    <label>Answer is False </label>
                </div>
            </DIV>
            <div class="button">
                <!--                <button type="submit" class="btn btn-primary">submit</button>-->
                <button  id="go-to-next" type="submit">Go to Next Question <i class="fas fa-arrow-right classicons"></i></button>
            </div>

        </div>
    </div>
</form>

<script type="text/javascript" src="\file\instructor\Jquery\jquery-3.6.0.min.js"></script>
<script src="\file\instructor\Jquery\question.js"></script>
<script type="text/javascript" src="\file\instructor\bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
</body>
</html>