<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Exams</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:each="exam:${instructor.getExams()}">-->
<!--    <span th:text="${exam.getCourse().getCourseName()}"></span>-->
<!--    <br>-->
<!--    <span th:text="${exam.getDate()}"></span>-->
<!--    <br>-->
<!--    <span th:text="${exam.getTime()}"></span>-->
<!--    <br>-->
<!--    <div th:if="${exam.getStudents().size()}==0">-->
<!--        <span> <a th:href="@{'/instructor/edit-exam/' +${exam.getId()}}">Edit Exam</a></span>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\file\instructor\CSS\editexam.css">
    <title>Editexam</title>
</head>
<body>

<div class="bg-Background"></div>
<!--nav bar-->
<div th:replace="Instructor/base :: body"></div>
<!---end nav bar -->
<table>
    <thead>
    <th>Exam date</th>
    <th>Time</th>
    <th>Course Name</th>
    <th>Editexam</th>

    </thead>
    <tbody>
    <div th:each="exam:${instructor.getExams()}">
        <tr>
            <td th:text="${exam.getDate()}"></td>
            <td th:text="${exam.getTime()}"></td>
            <td th:text="${exam.getCourse().getCourseName()}"></td>
            <td>
                <div th:if="${exam.getStudents().size()}==0">
                    <a th:href="@{'/instructor/edit-exam/' +${exam.getId()}}">Edit</a>
                </div>
            </td>
        </tr>
    </div>
    </tbody>
</table>
</body>
</html>