<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Login Page</title>

<!--        <link rel="stylesheet" th:href="@{/login/CSS/login.css}"/>-->
        <link rel="stylesheet" href="/file/login/css/login.css"/>
    </head>
    <body class="element-animation">
        <div class="log">
            <h3>Login Form</h3>
            <div th:if="${param.error}">
                Invalid username and password.</div>
            <div th:if="${param.logout}">
                You have been logged out.</div>
            <form th:action="@{/login}" method="post">
                <input type="text" name="username" placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
<!--            <input type="checkbox" id="check"><label class="rem"/>Remamber me</label>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;-->
<!--            <a href="ForgetPass.html">Forget password ?</a><br>-->
                <input type="submit" value="Log in" class="sub" />
        </form>
    </div>
        <script src="jquery-3.6.0.min.js"></script>
        <script src="Page1.2.js"> </script>
    </body>
</html>