body 
{
	background-color: #151D30;
    color: #fff;
}
.menu-icons
{
	position: absolute;
	color: #fff;
	font-size: 27px;
	margin-left:37px;
	margin-top: 13px;
	cursor: pointer;
}
/*div for navigation bar */
.navbar
{
	background-color: #292F45;
	width: 1360px;
	height: 68px;
	opacity: .7;
	transition: 0.7s ease-out;	

}
/* added class to jquert for navigation bar */
.navbaraddclass
{
	margin-left: 310px;
	width: 1055px;
	transition: 0.5s ease-in;	
}
/*search text field */
.search_textfield
{

	margin-left: 915px;
    margin-top: 14px;
    width:240px; 
    height: 39px;
    border-radius:5px;
    padding: 12px;
    background-color: #4B5680;
    border-color:#535E8C;
    color: #fff;
}
/*added class to text box to jquery */
.search_textfieldaddedclass
{
	margin-left: 640px;
	width:200px; 
    height: 39px;
}
/*to prevent focous on press the button  */
input:focus{outline:0;}

/*change placeholder color*/
::placeholder
{
	color: #fff;
}
/* logout button */
#Logout
{
	height: 38px;
    width: 114px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: #4B5680;
    border-color:#535E8C;
    color: #fff;
    font-weight:500;
}
/*the main div in slide bar */
.side-bar
{
	z-index: 1;
	background:rgba(255,255,255,0.1);
	backdrop-filter: blur(15px);
    width: 290px;
    height: 700px;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y:auto;
    transition: 0.8s snap;
    transition-property: left;
}
/*jquery class when silde bar is open */
.side-bar.active
{
    left: 0;
}
/*menu*/
.header
{
	position: absolute;
	color: #fff;
	left:0; 
	margin-left:-230px;
	margin-top: -3px;
}

/*course menu inside silde bar */
.side-bar .menu 
{
	width: 100%;
	margin-top:80px;

}
/*course menu item inside silde bar */
.side-bar .menu .item
{

position: relative;
cursor: pointer;
} 
/*course menu links inside silde bar */
.side-bar .menu .item a 
{
	color: #fff;
	font-size: 16px;
	text-decoration:none;
	display: block;
	padding: 5px 30px;
	line-height: 40px;
}
/*course menu backgroun while touch it inside silde bar */
.side-bar .menu .item a:hover
{
	background-color: #7466F1;
	transition:0.3s ease;
} 
.side-bar .menu .item i
{
	margin-right: 15px;
}
/*icons arrows */
.side-bar .menu .item a .dropdown
{
	position: absolute;
	right: 0;
	margin-left: 20px;
	margin-top:13px; 
    transition:0.3s ease;
}
/*arrows icons while click */
.rotate
{
	transform: rotate(90deg);
} 
/*design for inside menu*/
.side-bar .menu .item .sub-menu
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menu a 
{
	padding-left: 80px;
}
/*show members drop down menu*/
.side-bar .menu .item .sub-menuFor-Member
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menuFor-Member a 
{
	padding-left: 80px;
}

.side-bar .menu .item .sub-menuFor-addMember
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menuFor-addMember a 
{
	padding-left: 80px;
}
/*close icon in slider*/
.close-btn
{
	position: absolute;
	color: #fff;
	font-size: 20px;
	right: 0;
	margin: 20px;
	cursor: pointer;
}
/*central container div */
.the-center-div
{
	position: relative;
	background-color:#292F45;
	width: 1300px;
	height: 520px;
	margin-left: 26px;
	border-radius: 7px;
	transition: 0.7s ease-out;	

}
/*added class for jquery for central container div */
.the-center-divaddedClass
{
	
	width: 1000px;
	height: 520px;
	margin-left:310px;
	border-radius: 7px;
	transition: 0.5s ease-in;	

}

.add{
    position: absolute;
    color:#fff;
    font-weight: bold;
    margin-left: 11%;
	margin-top: 2%;
	font-size: 27px;
    
}


.img-container
{ 
	transform: translate(47%);
    width: 23%;
    height: 76%;
    margin-top: 5.8%;
    float: left;
}
.img-containeraddclass
{
	transform: translate(41%);
    width: 27%;
    height: 76%;
    margin-top: 7.7%;
    float: left;		
}
/*Profile_img*/

.Add_img
{
	height: 100%;
	width: 100%;
	border-radius: 20px;

}

.info-Container
{
	position: absolute;
	width: 50%;
	height: 76%;
    top: -15%;
    left: 33%;
    transform: translate(-50%);
    background-color: #cfcdcd69;
    text-align: center;
    padding-top: 1.5%;
	margin-left: 33%;
	margin-top: 12%;
	border-radius: 5px;

}

.info{
	margin-top: 15%;
}

/*.img-container{
	transform: translate(37%);
    width: 23%;
    height: 71%;
    margin-top: 7%;
    float: left;
}


img{
	border-radius: 20px;
	width: 100%;
	height: 100%;  
}*/

.info-Container div {
    width: 92%;
	text-align: center;
	margin: 9px;
	margin-top: 9px;
}
.info-Container label {
    display: inline-block;
    width: 100px;
    text-align: center; 
   /* margin-bottom: 10px;
    margin-right: 5px;*/
	padding-left: 5px;
	font-size: 19px;
    line-height: 25px;
    font-weight: 400;
}
.info-Container label[for=email]{
	margin-left: -2%;
	padding-right: 80px;
	font-size: 19px;
}
.info-Container label[for=pass]{
	margin-left: -2%;
	padding-right: 80px;
	font-size: 19px;
}

.info-Container label[for=phone]{
	margin-left: -2%;
	padding-right: 80px;
	font-size: 19px;
}

.info-Container label[for=ID]{
	margin-left: -2%;
	padding-right: 80px;
	font-size: 19px;
}
.info-Container label[for=name]{
	margin-left: -2%;
	padding-right: 80px;
	font-size: 19px;
}
.info-Container label[for=courses]{
	margin-left: -2%;
	padding-right: 80px;
	font-size: 19px;
}


.info-Container input[type=text], input[type=email] , input[type=password], input[type="number"],select[name="cours"] {
	width: 235px;
	border-radius: 3px;
	border: none;
	margin: 7px;
	margin-bottom: 5px;
	margin-left: 50px;
	color: #000;
	font-size: small;
	padding: 3px 30px 4px 15px;
}


.info-Container input[type=file]{
	margin-left: 72px;
	margin-bottom: 15px;
	position: relative;
	display: inline-block;
	border-radius: 5px;
	margin-top: 7px;
}

.info-Container label .ph{
	display: inline-block;
	padding-right: 80px;
	font-size: 19px;
    line-height: 25px;
    font-weight: 400;
	font-size: 19px;
}

.info-Container input[type=submit] {
	font-size: medium;
    background-color: #7466F1;
    width: 120px;
    height: 32px;
    color: #fff;
    margin: 20px;
	border-radius: 7px;
	border: none;
	margin-top: -16px;
	margin-left: 2%;
    
}


.info-Container select option{
	background-color: #ccc8ce;
}

 

/*icons itself */
.classpen ,.classeye
{
	color: #090344;
	font-size: 15px;	
}


/*POPUP*/

.overlay {
	
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
	
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
	
    margin: 50px auto;
    padding: 31px;
    background-color:#292F45;
	
    border-radius: 9px;
    width: 34%;
	height: 46%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 15px;
    color: #877DDC;
	margin-left: 31%;
	font-size: 31px;
	font-style: bold;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  .popup .close:hover {
    color: red;
  }
  .popup .info-Containerx {
    overflow: auto;
	padding-bottom: 50px;
  }

.info-Containerx input[type=text]{
    width: 375px;
	border-radius:2px;
	border: none;
	margin-left: 6%;
	margin-top: 43px;
	font-size:23px;
	padding: 3px 50px 3px 15px;
}


.info-Containerx input[type=submit] {
	font-size: 18px;
    background-color: #7466F1;
	width: 377px;
    padding: 8px 19px 3px 19px;
    color: #fff;	
	border-radius:2px;
	border: none;
	margin-top: 20px;
	margin-left: 6%;
	text-align: center;
 
}
.info-Containerx input::placeholder{
	color: #646369;
	font-size: 16px;
}
  @media screen and (max-width: 600px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }