body 
{
	background-color: #151D30;
    color: #fff;
}
.menu-icons
{
	position: absolute;
	color: #fff;
	font-size: 2vw;
	margin-left:2.5vw;
	margin-top: 2vh;
	cursor: pointer;
}
/*div for navigation bar */
.navbar
{
	background-color: #292F45;
	width: 99vw;
	height: 10vh;
	transition: 0.7s ease-out;	

}
/* added class to jquert for navigation bar */
.navbaraddclass
{
	margin-left: 22.6vw;
	width: 76vw;
	transition: 0.5s ease-in;	
}

/* logout button */
.logout
{
	height: 5.9vh;
    width: 9vw;
    margin-left: 88vw;
    border-radius: 0.3vw;
    background-color: #4B5680;
    border-color:#535E8C;
    color: #fff;
    font-weight:500;
	margin-top: 2vh;
	font-size: 1.1vw;
	border: none;
}

/* add classlogout button */
.logoutaddclass
{
	height: 5.9vh;
    width: 9vw;
    margin-left: 64vw;
    border-radius: 0.3vw;
    background-color: #4B5680;
    border-color:#535E8C;
    color: #fff;
    font-weight:500;
	margin-top: 2vh;
	font-size: 1.1vw;
	border: none;
}
/*the main div in slide bar */
.side-bar
{
	z-index: 1;
	background:rgba(255,255,255,0.1);
	backdrop-filter: blur(7vw);
    width: 21.6vw;
    height: 120vh;
    position: fixed;
    top: 0;
    left: -50vw;
    overflow-y:auto;
    transition: 0.8s snap;
    transition-property: left;
}
/*jquery class when silde bar is open */
.side-bar.active
{
    left: 0vw;
}
/*menu*/
.header
{
	position: absolute;
	color: #fff;
	left:0; 
	font-size: 2.2vw;
	position: fixed;
	margin-left:1.6vw ;
	margin-top: -0.5vh;
}

/*course menu inside silde bar */
.side-bar .menu 
{
	width: 21.6vw;
	margin-top:14vh;
	font-size: 1.9vw;
	font-weight: 200;

}
/*course menu item inside silde bar */
.side-bar .menu .item
{
position: relative;
cursor: pointer;
} 
/*course menu links inside silde bar */
.side-bar .menu .item a 
{
	color: #fff;
	font-size: 1.2vw;
	text-decoration:none;
	display: block;
	padding: 1.4vh 2vw;
	line-height: 2.4vw;
}
/*course menu backgroun while touch it inside silde bar */
.side-bar .menu .item a:hover
{
	background-color: #7466F1;
	transition:0.3s ease;
} 
.side-bar .menu .item i
{
	margin-right: 1.7vw;
	margin-top: 1.3vh;
}
/*icons arrows */
.side-bar .menu .item a .dropdown
{
	position: absolute;
	right: 0;
	margin-left: 4vw;
    transition:0.3s ease;
}
/*arrows icons while click */
.rotate
{
	transform: rotate(90deg);
} 
/*design for inside menu*/
.side-bar .menu .item .sub-menu
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menu a 
{
	padding-left: 6vw;
	font-size: 1.2vw;
}
/*show members drop down menu*/
.side-bar .menu .item .sub-menuFor-Member
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menuFor-Member a 
{
	padding-left: 6vw;
	font-size: 1.2vw;	
}

.side-bar .menu .item .sub-menuFor-addMember
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menuFor-addMember a 
{
	padding-left: 6vw;
	font-size: 1.2vw;
}
/*close icon in slider*/
.close-btn
{
	position: absolute;
	color: #fff;
	font-size: 1.5vw;
	right: 0;
	margin: 1.9vw;
	cursor: pointer;
}


/*central container div */
.the-center-div
{
	position: relative;
	border-radius: 7px;
	transition: 0.7s ease-out;	
    margin-top: 2.3vh;
	width: 80vw;
	height: 55.9vh;
	margin-left: 10vw;
}


.img-container
{ 
	transform: translate(17%);
    width: 25vw;
    height: 50vh;
    margin-top: 2vh;
    float: left;
}

.Add_img
{
	height: 50vh;
	width: 25vw;
	border-radius: 1px;
	margin-left: -3vw;

}


/*added class for jquery for central container div */
.the-center-divaddedClass
{
	
	width: 75.7vw;
	/*height: 390px;*/
	margin-left: 21vw;
	border-radius: 1vh;
	transition: 0.5s ease-in;	

}

.quaryaddedClass{
    margin-left: 8.35vw;
	border-radius: 1px;
	transition: 0.5s ease-in;	
    width: 5vw;

}
.quary{
    position:relative;
	transition: 0.5s ease-out;	
    height: 23.5vh;
    margin-top: 3.9vh;
    width: 79.7vw;
    transform: translate(15%);
	margin-bottom: -0.3vh;
}

/*div*/
.info-Container
{
	position: absolute;
	width:65%;
	height: 91%;
    top: -14%;
    left: 33%;
    transform: translate(-50%);
    background-color: #292F45;
    text-align: center;
    padding-top: 1.5%;
	margin-left: 35%;
	margin-top: 5.7%;
	border-radius: 1px;

}



.info-top{
    position: relative;
    width: 81vw;
	height: 24vh;
   transform: translate(-50%);
    background-color: #292F45;
    text-align: center;
    padding-top: 2.7vh;
	margin-left: 38.8vw;
	margin-top: 0.1vh;
	border-radius: 1px;

}

.info-topOpen{
	width: 93.5%;
	margin-left: 39.3vw;
}

/*DivTop*/

.inlinee{
	margin-top: 3.9vh;
	float: left;
	margin-left: 3vw;
}

.inlineeOpen{
	margin-left: -1.4vw;
}

.inlinee .Stu{
	display: inline-block;
	width: 3.9vw;
	height: 8.3vh;
	background-color: #353c58;
	margin: 0vw 0.5vw;
	border-radius: 50%;
	margin-top: 1vh;
	
}



.inlinee i{
	position: absolute;
	margin-top: 2.7vh;
	text-align: center;
	color: #19839A;
	font-size: 3vh;
	margin-left: -0.5vw;
	
}


/*ULFA Student*/
.inlinee .num{
	position: absolute;
		display: inline-block;
		margin-top: 1.9vh;
		margin-left: 0.1vw;
		font-size: 3vh;
    	background-color: #292F45;
		border: none;
		width: 5vw;
}
.inlinee .s{
	position: absolute;
	display: inline-block;
	margin-top: 7vh;
	margin-left: 0.3vw;
	color: #AAA;
	font-size: 3vh;

}


/*ULFA Course*/
.inlinee .Cour{
	display: inline-block;
	width: 3.9vw;
	height: 8.3vh;
	background-color: #353c58;
	margin: 0vw 13vw;
	border-radius: 50%;
	margin-top: 1vh;
}

.inlinee .numC{
	position: absolute;
		display: inline-block;
		margin-top: 1.7vh;
		margin-left: -12.7vw;
		font-size: 3vh;
		background-color: #292F45;
		border: none;
		width: 5vw;
}
.inlinee .c{
	position: absolute;
	display: inline-block;
	margin-top: 7vh;
	margin-left: -12.7vw;
	color: #AAA;
	font-size: 3vh;

}


/*ULFA Instructor*/
.inlinee .Ins{
	display: inline-block;
	width: 3.9vw;
	height: 8.3vh;
	background-color: #353c58;
	margin: 0vw 1vw;
	border-radius: 50%;
	margin-top: 1.9vh;
}


.inlinee .numI{
	position: absolute;
		display: inline-block;
		margin-top: 1.3vh;
		margin-left: -0.4vw;
		font-size: 3vh;
		background-color: #292F45;
		border: none;
		width: 5vw;
}
.inlinee .i{
	position: absolute;
	display: inline-block;
	margin-top: 7vh;
	margin-left: -0.3vw;
	color: #AAA;
	font-size: 3vh;

}



/*ULFA Exam*/
.inlinee .ex{
	display: inline-block;
	width: 3.9vw;
	height: 8.3vh;
	background-color: #353c58;
	margin: 0vw 13vw;
	border-radius: 50%;
	margin-top: 1.5vh;
}


.inlinee .numE{
	position: absolute;
		display: inline-block;
		margin-top: 1.5vh;
		margin-left: -12vw;
		font-size: 3vh;
		background-color: #292F45;
		border: none;
		width: 5vw;
}
.inlinee .e{
	position: absolute;
	display: inline-block;
	margin-top: 7vh;
	margin-left: -12vw;
	color: #AAA;
	font-size: 3vh;

}




/*chart*/

  .chart-wrapper {
	position: absolute;
	width: 26vw;
	height: 9vh;
	margin-left: 13vw;
	margin-top: -2.7vh;
	font-size: 12vh;

  }


  
/*POPUP*/

.overlay {
	
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
	
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
	
    margin: 3.5vw auto;
    padding: 1.5vw;
    background-color:#292F45;
    border-radius: 1.5vh;
    width: 33.9vw;
	height: 45.9vh;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 3.9vh;
    color: #877DDC;
	margin-left: 9.5vw;
	font-size: 2.2vw;
	font-style: bold;
  }
  .popup .close {
    position: absolute;
    top: 3vh;
    right: 1.99vw;
    transition: all 200ms;
    font-size: 2.15vw;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  .popup .close:hover {
    color: red;
  }
  .popup .info-Containerx {
    overflow: auto;
	padding-bottom: 5vh;
  }

.info-Containerx input[type=text]{
    width: 26.39vw;
	border-radius: 0.3vh;
	border: none;
	margin-left: 2.15vw;
	margin-top: 6.5vh;
	font-size: 1.59vw;
	padding: 0.5vh 5vw 0.55vh 1vw;
	color: #000;
}


.info-Containerx input[type=submit] {
	font-size: 1.23vw;
    background-color: #7466F1;
	width: 26.39vw;
    padding: 1vh 5vw 1vh 5vw;
    color: #fff;	
	border-radius: 0.3vh;
	border: none;
	margin-top: 3.3vh;
	margin-left: 2.15vw;
	text-align: center;
 
}
.info-Containerx input::placeholder{
	color: #646369;
	font-size: 1.17vw;
}
  @media screen and (max-width: 400px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
