body 
{
	background-color: #151D30;
    color: #fff;
}
.menu-icons
{
	position: absolute;
	color: #fff;
	font-size: 2vw;
	margin-left:2.5vw;
	margin-top: 2vh;
	cursor: pointer;
}
/*div for navigation bar */
.navbar
{
	background-color: #292F45;
	width: 99vw;
	height: 10vh;
	transition: 0.7s ease-out;	

}
/* added class to jquert for navigation bar */
.navbaraddclass
{
	margin-left: 22.6vw;
	width: 76vw;
	transition: 0.5s ease-in;	
}

/* logout button */
.logout
{
	height: 5.9vh;
    width: 9vw;
    margin-left: 88vw;
    border-radius: 0.3vw;
    background-color: #4B5680;
    border-color:#535E8C;
    color: #fff;
    font-weight:500;
	margin-top: 2vh;
	font-size: 1.1vw;
	border: none;
}

/* add classlogout button */
.logoutaddclass
{
	height: 5.9vh;
    width: 9vw;
    margin-left: 64vw;
    border-radius: 0.3vw;
    background-color: #4B5680;
    border-color:#535E8C;
    color: #fff;
    font-weight:500;
	margin-top: 2vh;
	font-size: 1.1vw;
	border: none;
}
/*the main div in slide bar */
.side-bar
{
	z-index: 1;
	background:rgba(255,255,255,0.1);
	backdrop-filter: blur(7vw);
    width: 21.6vw;
    height: 120vh;
    position: fixed;
    top: 0;
    left: -50vw;
    overflow-y:auto;
    transition: 0.8s snap;
    transition-property: left;
}
/*jquery class when silde bar is open */
.side-bar.active
{
    left: 0vw;
}
/*menu*/
.header
{
	position: absolute;
	color: #fff;
	left:0; 
	font-size: 2.2vw;
	position: fixed;
	margin-left:1.6vw ;
	margin-top: -0.5vh;
}

/*course menu inside silde bar */
.side-bar .menu 
{
	width: 21.6vw;
	margin-top:14vh;
	font-size: 1.9vw;
	font-weight: 200;

}
/*course menu item inside silde bar */
.side-bar .menu .item
{
position: relative;
cursor: pointer;
} 
/*course menu links inside silde bar */
.side-bar .menu .item a 
{
	color: #fff;
	font-size: 1.2vw;
	text-decoration:none;
	display: block;
	padding: 1.4vh 2vw;
	line-height: 2.4vw;
}
/*course menu backgroun while touch it inside silde bar */
.side-bar .menu .item a:hover
{
	background-color: #7466F1;
	transition:0.3s ease;
} 
.side-bar .menu .item i
{
	margin-right: 1.7vw;
	margin-top: 1.3vh;
}
/*icons arrows */
.side-bar .menu .item a .dropdown
{
	position: absolute;
	right: 0;
	margin-left: 4vw;
    transition:0.3s ease;
}
/*arrows icons while click */
.rotate
{
	transform: rotate(90deg);
} 
/*design for inside menu*/
.side-bar .menu .item .sub-menu
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menu a 
{
	padding-left: 6vw;
	font-size: 1.2vw;
}
/*show members drop down menu*/
.side-bar .menu .item .sub-menuFor-Member
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menuFor-Member a 
{
	padding-left: 6vw;
	font-size: 1.2vw;	
}

.side-bar .menu .item .sub-menuFor-addMember
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menuFor-addMember a 
{
	padding-left: 6vw;
	font-size: 1.2vw;
}
/*close icon in slider*/
.close-btn
{
	position: absolute;
	color: #fff;
	font-size: 1.5vw;
	right: 0;
	margin: 1.9vw;
	cursor: pointer;
}
/*central container div */
.the-center-div
{
	position: relative;
	background-color:#292F45;
	width: 91.4vw;
	height: 81.1vh;
	margin-left: 3.9vw;
	border-radius: 1vh;
	transition: 0.7s ease-out;	
  padding-top: 0.3vh;
  overflow-y: scroll;
  padding-bottom: 1.9vh;

}
/*added class for jquery for central container div */
.the-center-divaddedClass
{
	
	width: 76vw;
	height: 85vh;
	margin-left:22.6vw;
	border-radius: 0.7vw;
	transition: 0.5s ease-in;

}

input:focus{outline:0;}

/*Massage Problem div*/
.Massageprob{
    transform: translate(19.9vw);
    width: 65vw;
    background-color: #463f8b;
    margin-top: 5.9vh;
    border-radius: 1vh;
    transition: 0.7s ease-out;
   /**/ padding-bottom: 1.9vh;
    padding-right: 1.3vw;
    margin-bottom: 3vh;

    
}

/*Title Massage*/
.Massageprob h3{
    color: #fff;
    margin-left: 2.5vw;
    margin-top: 3.9vh;
    font-size: 1.7vw;
    padding-top: 3vh;
}

/*BodyMassage*/
.Massageprob p{
    color: #fff;
    font-size: 1.3vw;
    margin-top: 2.3vh;
    margin-left: 5.9vw;
}

.MassageAdd{
  width: 47.9vw;
}


/*Replay Message div*/

.ReplayMessage{
  transform: translate(7%);
  width: 63vw;
  background-color: rgb(180, 176, 176);
  margin-top: 3.7vh;
  border-radius: 1vh;
  transition: 0.7s ease-out;
  padding-bottom: 1.9vh;
  padding-right: 1.1vw;
  padding-top: 0.1vh;
}

/*BodyReplayMassage*/
.ReplayMessage p{
  color: #fff;
  font-size: 1.3vw;
  margin-top: 3.7vh;
  margin-left: 3vw;
}

.ReplayAdd{
  width: 55vw;
}

.TexInp{
        position: relative;
          width: 70vw;
          height: 7vh;
          margin-top: 17vh;
          margin-left: 4.5vw;
          border-radius: 1.1vh;
          padding: 1.9vh 19vw 1.9vh 3.1vw;
          background-color: rgba(0, 0, 0, 0.541);
          border: none;
          color: #fff;
}


.FormAdd{
  width: 51.9vw;
}

.RplayForm input::placeholder{
    color: #b1b1b1;
	font-size: 1.15vw;
}

.RplayForm input[type=submit]{
  position: relative;
    width: 9.7vw;
    padding: 1.5vh 3vw 1.7vh 3vw;
    margin-left: 1vw;
    border-radius: 1.5vh;
    background-color: #19839A;
    border: none;
    color: #fff;
    font-size: 1vw;
}







/*icons itself */
.classpen ,.classeye ,.classeyeopen
{
	color: #000;
	font-size: 15px;
	cursor: pointer;
}


/*POPUP*/

.overlay {
	
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {

  visibility: visible;
  opacity: 1;
}

.popup {

  margin: 3.5vw auto;
  padding: 1.5vw;
  background-color:#292F45;
  border-radius: 1.5vh;
  width: 33.9vw;
height: 45.9vh;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.popup h2 {
  margin-top: 3.9vh;
  color: #877DDC;
margin-left: 9.5vw;
font-size: 2.2vw;
font-style: bold;
}
.popup .close {
  position: absolute;
  top: 3vh;
  right: 1.99vw;
  transition: all 200ms;
  font-size: 2.15vw;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: red;
}
.popup .info-Containerx {
  overflow: auto;
padding-bottom: 5vh;
}

.info-Containerx input[type=text]{
  width: 26.39vw;
border-radius: 0.3vh;
border: none;
margin-left: 2.15vw;
margin-top: 6.5vh;
font-size: 1.59vw;
padding: 0.5vh 5vw 0.55vh 1vw;
color: #000;
}


.info-Containerx input[type=submit] {
font-size: 1.23vw;
  background-color: #7466F1;
width: 26.39vw;
  padding: 1vh 5vw 1vh 5vw;
  color: #fff;	
border-radius: 0.3vh;
border: none;
margin-top: 3.3vh;
margin-left: 2.15vw;
text-align: center;

}
.info-Containerx input::placeholder{
color: #646369;
font-size: 1.17vw;
}
@media screen and (max-width: 400px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
