body 
{
	background-color: #151D30;
    color: #fff;
}
.menu-icons
{
	position: absolute;
	color: #fff;
	font-size: 2vw;
	margin-left:2.5vw;
	margin-top: 2vh;
	cursor: pointer;
}
/*div for navigation bar */
.navbar
{
	background-color: #292F45;
	width: 99vw;
	height: 10vh;
	transition: 0.7s ease-out;	
	margin-bottom: 4vh;

}
/* added class to jquert for navigation bar */
.navbaraddclass
{
	margin-left: 22.6vw;
	width: 76vw;
	transition: 0.5s ease-in;	
}

/* logout button */
.logout
{
	height: 5.9vh;
    width: 9vw;
    margin-left: 88vw;
    border-radius: 0.3vw;
    background-color: #4B5680;
    border-color:#535E8C;
    color: #fff;
    font-weight:500;
	margin-top: 2.1vh;
	font-size: 1.1vw;
	border: none;
}

/* add classlogout button */
.logoutaddclass
{
	height: 5.9vh;
    width: 9vw;
    margin-left: 64vw;
    border-radius: 0.3vw;
    background-color: #4B5680;
    border-color:#535E8C;
    color: #fff;
    font-weight:500;
	margin-top: 2vh;
	font-size: 1.1vw;
	border: none;
}

.search_textfield
{
	width: 21vw;
	height: 6vh;
	background-color: #535E8C;
	border-radius: 0.2vw;
	border: none;
	margin-left: 65vw;
	margin-top: 2vh;
	padding-left: 1vw;
	color: rgb(255, 255, 255);
	position: fixed;
}

.addsearch_textfield
{
	width: 17vw;
	height: 6vh;
	background-color: #535E8C;
	border-radius: 0.2vw;
	border: none;
	margin-left: 45vw;
	margin-top: 2vh;
	padding-left: 1vw;
	color: rgb(255, 255, 255);
	position: fixed;
}

input:focus{outline:0;}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(255, 255, 255);
	opacity: 1; /* Firefox */
	font-size: 1vw;
	position: fixed;
	margin-top: 1.6vh;
  }
/*the main div in slide bar */
.side-bar
{
	z-index: 1;
	background:rgba(255,255,255,0.1);
	backdrop-filter: blur(7vw);
    width: 21.6vw;
    height: 120vh;
    position: fixed;
    top: 0;
    left: -50vw;
    overflow-y:auto;
    transition: 0.8s snap;
    transition-property: left;
}
/*jquery class when silde bar is open */
.side-bar.active
{
    left: 0vw;
}
/*menu*/
.header
{
	position: absolute;
	color: #fff;
	left:0; 
	font-size: 2.2vw;
	position: fixed;
	margin-left:1.6vw ;
	margin-top: -0.5vh;
}

/*course menu inside silde bar */
.side-bar .menu 
{
	width: 21.6vw;
	margin-top:14vh;
	font-size: 1.9vw;
	font-weight: 200;

}
/*course menu item inside silde bar */
.side-bar .menu .item
{
position: relative;
cursor: pointer;
} 
/*course menu links inside silde bar */
.side-bar .menu .item a 
{
	color: #fff;
	font-size: 1.2vw;
	text-decoration:none;
	display: block;
	padding: 1.4vh 2vw;
	line-height: 2.4vw;
}
/*course menu backgroun while touch it inside silde bar */
.side-bar .menu .item a:hover
{
	background-color: #7466F1;
	transition:0.3s ease;
} 
.side-bar .menu .item i
{
	margin-right: 1.7vw;
	margin-top: 1.3vh;
}
/*icons arrows */
.side-bar .menu .item a .dropdown
{
	position: absolute;
	right: 0;
	margin-left: 4vw;
    transition:0.3s ease;
}
/*arrows icons while click */
.rotate
{
	transform: rotate(90deg);
} 
/*design for inside menu*/
.side-bar .menu .item .sub-menu
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menu a 
{
	padding-left: 6vw;
	font-size: 1.2vw;
}
/*show members drop down menu*/
.side-bar .menu .item .sub-menuFor-Member
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menuFor-Member a 
{
	padding-left: 6vw;
	font-size: 1.2vw;	
}

.side-bar .menu .item .sub-menuFor-addMember
{
	background:rgba(255,255,255,0.1);
	display: none;
}
.side-bar .menu .item .sub-menuFor-addMember a 
{
	padding-left: 6vw;
	font-size: 1.2vw;
}
/*close icon in slider*/
.close-btn
{
	position: absolute;
	color: #fff;
	font-size: 1.5vw;
	right: 0;
	margin: 1.9vw;
	cursor: pointer;
}
/*central container div */
.the-center-div
{
	position: relative;
	background-color:#292F45;
	width: 97vw;
	height: 85vh;
	margin-left: 1.5vw;
	border-radius: 0.7vw;
	transition: 0.7s ease-out;	

}
/*added class for jquery for central container div */
.the-center-divaddedClass
{
	
	width: 76vw;
	height: 85vh;
	margin-left:0.2vw;
	border-radius: 0.7vw;
	transition: 0.5s ease-in;	

}
/*text*/
.update{
    position: absolute;
    color:#fff;
    font-weight: bold;
    margin-left: 7vw;
	margin-top: 6vh;
	font-size: 1.9vw;
    
}
/*added class*/
.updateclass{
    position: absolute;
    color:#fff;
    font-weight: bold;
    margin-left: 7vw;
	margin-top: 6vh;
	font-size: 1.8vw;
    
}

.closetable
{
  position: absolute;	
  border-collapse: collapse;
  width: 83vw;
  margin-left:7vw;
  margin-top:15vh;
  background-color: #362E82;
  overflow: scroll;
  border-radius: 1vw 1vw 1vw 1vw;
}

.opentable
{
  position: absolute;	
  border-collapse: collapse;
  width: 67vw;
  margin-left:7vw;
  margin-top:15vh;
  background-color: #362E82;
  overflow: scroll;
  border-radius: 1vw 1vw 1vw 1vw;

}
tr:nth-child(even)
{
	background-color: #362E82;
	color: #fff;
	border:none;
	font-size: 1.2vw;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;

}


tr:nth-child(odd)
{

	color: #fff;
	border:none;
	background-color: #171C2D;
	font-size: 1.2vw;
    text-align: center;
    vertical-align: middle;
}
table thead tr th:nth-of-type(4)
{

	padding-left: 6vw;
}

table thead tr th:nth-of-type(3)
{
	
	padding-left: 3vw;
}

table tbody tr td:nth-of-type(3)
{
  max-width: 24vw;
}

td
{
  
  width: 60vw;
  line-height: 8vh;
  font-weight: 500;
  padding: 1vw;

}
th{
width: 60vw;
height: 10vh;
text-align: center;
vertical-align: middle;
font-weight: 300;
}

th:first-child
{
  border-radius: 1vw 0px 0px 0px;

}
th:last-child
{
  border-radius: 0px 1vw 0px 0px;
}
.closetbody
{  
  width: 83vw;
  overflow: auto;
  height: 47vh;
  display: block;
  border-radius: 0px 1vw 1vw 1vw;
}

.opentbody
{  
  width: 67vw;
  overflow: auto;
  height: 47vh;
  display: block;
  border-radius: 0px 1vw 1vw 1vw;
}

thead 
{
  display: block;
  padding:2.4vh; 

}
th
{ 
  text-align:center;
  border-bottom: 0;
  color: #fff;
  font-size:1.4vw;
  padding:1.9vh; 
  background-color: #362E82;
}

tr td .img-class
{
	width: 10vw;
	height: 21vh;
	border-radius:1vw;
}

tr td .classedit
{
	margin-left:-4vw;
	color: #fff;
	font-size: 1.3vw;	
	cursor: pointer;
}

tr td .classdelete
{
	color: #fff;
	font-size: 1.3vw;	
	cursor: pointer;
}
span
{
	color: #fff;
	font-weight: 200;
}




/*POPUP*/

.overlay {
	
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
	
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
	
    margin: 3.5vw auto;
    padding: 1.5vw;
    background-color:#292F45;
    border-radius: 1.5vh;
    width: 33.9vw;
	height: 45.9vh;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 3.9vh;
    color: #877DDC;
	margin-left: 9.5vw;
	font-size: 2.2vw;
	font-style: bold;
  }
  .popup .close {
    position: absolute;
    top: 3vh;
    right: 1.99vw;
    transition: all 200ms;
    font-size: 2.15vw;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  .popup .close:hover {
    color: red;
  }
  .popup .info-Containerx {
    overflow: auto;
	padding-bottom: 5vh;
  }

.info-Containerx input[type=text]{
    width: 26.39vw;
	border-radius: 0.3vh;
	border: none;
	margin-left: 2.15vw;
	margin-top: 6.5vh;
	font-size: 1.59vw;
	padding: 0.5vh 5vw 0.55vh 1vw;
	color: #000;
}


.info-Containerx input[type=submit] {
	font-size: 1.23vw;
    background-color: #7466F1;
	width: 26.39vw;
    padding: 1vh 5vw 1vh 5vw;
    color: #fff;	
	border-radius: 0.3vh;
	border: none;
	margin-top: 3.3vh;
	margin-left: 2.15vw;
	text-align: center;
 
}
.info-Containerx input::placeholder{
	color: #646369;
	font-size: 1.17vw;
}
  @media screen and (max-width: 400px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
